.App {
  text-align: center;
}

.shodan-logo {
  height: 50px;
}

.App-header {
  background-color: #5e75a4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Subscribers {
  background-color: #5e75a4;
}

.App {
  background-color: #5e75a4;
}

.App-link {
  color: #61dafb;
}
